<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="scan()">Scanner un codebarre</ion-button>
  <div *ngIf="model">
    <ul>
      <li *ngFor="let ing of model.product.ingredients">
        {{ ing.text }}
      </li>
    </ul>
  </div>
</ion-content>
