.images {
    display: flex;
    justify-content: space-around;
    img {
        width: 40%;
        height: auto;
    }
}

ion-content {
    --background: skyblue;
}

.info {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px 20px;
    background-color: white;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}