<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- binding 2 ways -->
  <ion-item>
    <ion-label position="floating">Nouvel article</ion-label>
    <ion-input [(ngModel)]="newItem"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button slot="end" (click)="add()" [disabled]="!newItem">+</ion-button>
    <ion-button slot="end" (click)="clearAll()" [disabled]="!items.length" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of items"
              (click)="openActionSheet(item)">
              <ion-icon *ngIf="item.isChecked" name="checkmark-circle"></ion-icon>
              {{item.name}}
    </ion-item>
  </ion-list> 
</ion-content>
