<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="space-between">
    <ion-button [disabled]="!result?.previous"
        (click)="prev()">Previous</ion-button>
    <ion-button [disabled]="!result?.next"
        (click)="next()">Next</ion-button>
  </div>
  <ul>
    <li *ngFor="let item of result?.results" (click)="openDetails(item.url)">
      {{item.name | titlecase}}
    </li>
  </ul>
</ion-content>
