ion-content {
    --background: #eee;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        background-color: white;
        padding: 10px 20px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
        margin: 10px;
        margin-top: 60px;
        opacity: 0;
        transition: all 0.5s ease;
        &:hover {
            background-color: skyblue;
            transform: scale(1.01);
        }
    }
}

$compteur: 20;

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

@keyframes list-anim {
    0% { margin-top: 50px; opacity: 0; }
    100%{ margin-top: 10px; opacity: 1; }
}

@for $i from 1 through 20 {
    li:nth-child(#{$i}) {
        animation-duration: 0.4s;
        animation-name: list-anim;
        animation-delay: $i * 0.2s;
        animation-fill-mode: forwards;
    }
}